<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="
                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!--  HTTP configuration sample -->
    <http auto-config="true">

        <!-- the login page -->
        <intercept-url pattern="/" access="permitAll" />
        <!-- pages for anonymous access in an application -->
        <intercept-url pattern="/data-check" access="hasRole('ROLE_USER')" />
        <!--<intercept-url pattern="/documents-upload" access="hasRole('ROLE_USER')" />-->
        <!--<intercept-url pattern="/agreement-review" access="hasRole('ROLE_USER')" />-->
        <!--<intercept-url pattern="/sign-agreement" access="hasRole('ROLE_USER')" />-->
        <!--<intercept-url pattern="/summary" access="hasRole('ROLE_USER')" />-->

        <form-login
                login-page='/login'
                default-target-url="/data-check"
                authentication-failure-url="/login?error=true"
                username-parameter="username"
                password-parameter="phonenumber"
        />

        <logout logout-success-url="/login" />

        <csrf disabled="true"/>
    </http>

    <authentication-manager>
        <authentication-provider ref="customAuthenticationProvider" />
    </authentication-manager>

    <global-method-security secured-annotations="enabled" />
</beans:beans>